/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font: 62.5%/1.15 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  color: black;
  text-rendering: optimize-Legibility;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%; }

/* useage
@include link-underline($bg-main, transparent, inherit, $fg-main, $fg-main-darker);
  @include link-underline(background of link, background on hover, color of the link wording, color of the link on hover, color of the underline);
*/
/* background and foreground colors */
/* fonts */
@font-face {
  font-family: 'riter_basic_regularregular';
  src: url("fonts/riter_base-webfont.woff2") format("woff2"), url("fonts/riter_base-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'riter_basic_italicitalic';
  src: url("fonts/riter_base_italic-webfont.woff2") format("woff2"), url("fonts/riter_base_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* type sizes*/
/* set main body copy */
/* sizes */
body {
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "riter_basic_regularregular", courier, monospaced;
  background: mintcream; }

p {
  font-family: "riter_basic_italicitalic", courier, monospaced; }

img {
  width: 100%; }

a {
  font-size: 1.8rem;
  text-decoration: none; }

.background-main {
  background-color: mintcream;
  color: #434d57; }
  .background-main a {
    color: #5a6773;
    background: -webkit-linear-gradient(mintcream, mintcream) 0 95%/0.05em 1px no-repeat, -webkit-linear-gradient(mintcream, mintcream) 100% 95%/0.05em 1px no-repeat, -webkit-linear-gradient(#2d343a, #2d343a) 0 89%/1px 1px repeat-x;
    background: linear-gradient(mintcream, mintcream) 0 95%/0.05em 1px no-repeat, linear-gradient(mintcream, mintcream) 100% 95%/0.05em 1px no-repeat, linear-gradient(#2d343a, #2d343a) 0 89%/1px 1px repeat-x;
    text-shadow: 0.03em 0 mintcream, -0.03em 0 mintcream, 0 0.03em mintcream, 0 -0.03em mintcream, 0.06em 0 mintcream, -0.06em 0 mintcream, 0.09em 0 mintcream, -0.09em 0 mintcream, 0.12em 0 mintcream, -0.12em 0 mintcream, 0.15em 0 mintcream, -0.15em 0 mintcream;
    text-decoration: none; }
    .background-main a:hover {
      background: transparent;
      color: #2d343a;
      text-decoration: none; }

.background-inverse {
  background-color: #434d57;
  color: mintcream; }
  .background-inverse a {
    color: white;
    background: -webkit-linear-gradient(#434d57, #434d57) 0 95%/0.05em 1px no-repeat, -webkit-linear-gradient(#434d57, #434d57) 100% 95%/0.05em 1px no-repeat, -webkit-linear-gradient(#c2ffe1, #c2ffe1) 0 89%/1px 1px repeat-x;
    background: linear-gradient(#434d57, #434d57) 0 95%/0.05em 1px no-repeat, linear-gradient(#434d57, #434d57) 100% 95%/0.05em 1px no-repeat, linear-gradient(#c2ffe1, #c2ffe1) 0 89%/1px 1px repeat-x;
    text-shadow: 0.03em 0 #434d57, -0.03em 0 #434d57, 0 0.03em #434d57, 0 -0.03em #434d57, 0.06em 0 #434d57, -0.06em 0 #434d57, 0.09em 0 #434d57, -0.09em 0 #434d57, 0.12em 0 #434d57, -0.12em 0 #434d57, 0.15em 0 #434d57, -0.15em 0 #434d57;
    text-decoration: none; }
    .background-inverse a:hover {
      background: transparent;
      color: #c2ffe1;
      text-decoration: none; }

/* screw that 12 column grid 
   no rows here,
   just vague handwavey fractions.

   there's no gutters.
*/
.full,
.two-halves,
.three-thirds,
.four-quarters,
.five-fifths,
.six-sixths {
  display: block;
  width: 100%; }

.one-half,
.two-quarters,
.three-sixths {
  width: 50%; }

.one-third {
  width: calc(100%/3); }

.two-thirds {
  width: calc((100%/3)*2); }

.one-quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.one-fifth {
  width: calc(100%/5); }

.two-fifths {
  width: calc((100%/5)*2); }

.three-fifths {
  width: calc((100%/5)*3); }

.four-fifths {
  width: calc((100%/5)*4); }

.size-icon {
  max-width: 5.0rem; }

.padding-default {
  padding: 0 3%; }

.padding-all {
  padding: 3%; }

.margin-default {
  margin: 0 auto; }

.margin-text {
  margin-top: 1.8rem;
  margin-bottom: 2.4rem; }

.margin-sides {
  margin-left: 3%;
  margin-right: 3%; }

.wrapper {
  max-width: 80rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem; }

/* Paragraph Styles */
h1 {
  font-size: 4.4rem;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

p {
  font-size: 1.8rem;
  line-height: 1.35; }
  p.small-caps {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35rem;
    font-weight: bolder; }

small {
  font-size: 0.8rem; }

caption {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

strong, .bolder {
  font-weight: bolder; }

.lighter {
  font-weight: lighter; }

em {
  font-style: italic; }

.capitalize {
  text-transform: uppercase; }

.rag-left {
  text-align: right; }

.rag-right {
  text-align: left; }

.center {
  text-align: center; }

/* Character Styles */
.float-left {
  float: left; }

.float-right {
  float: right; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.hide {
  visibility: hidden;
  opacity: 0; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

a.not-text {
  text-decoration: none;
  background: none; }

.striped-background {
  background: -webkit-repeating-linear-gradient(135deg, mistyrose, mistyrose 3px, mintcream 3px, mintcream 10px);
  background: repeating-linear-gradient(-45deg, mistyrose, mistyrose 3px, mintcream 3px, mintcream 10px); }

.header {
  height: 100%;
  width: 100%;
  background: url("../img/typewriter-bg.jpg") no-repeat center center;
  background-size: cover; }

h1 {
  color: orangered;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem; }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem; } }

.title-container {
  max-width: 500px;
  margin: 0 auto; }

.title-typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 5px solid #434d57;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0;
  /* Adjust as needed */
  line-height: 1;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
          animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite; }

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #434d57; } }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #434d57; } }
.navigation {
  background: turquoise;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.nav {
  display: block;
  text-align: center; }
  .nav li {
    display: inline-block; }
    .nav li a {
      color: #434d57;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 1rem;
      padding-bottom: .5rem;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
      .nav li a:hover {
        border-bottom: 5px solid #434d57;
        -webkit-transition: translateY(0.5rem);
        transition: translateY(0.5rem); }
      .nav li a:active {
        -webkit-transition: translateY(0.5rem);
        transition: translateY(0.5rem); }
      @media screen and (max-width: 600px) {
        .nav li a {
          font-size: 90%;
          padding-left: 5%;
          padding-right: 5%; } }

section {
  border-top: 5px solid mintcream;
  border-left: 5px solid mintcream;
  border-right: 5px solid mintcream;
  padding-top: 5rem;
  padding-bottom: 8rem;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.description {
  font-family: "riter_basic_italicitalic", courier, monospaced;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 4rem; }
  @media screen and (max-width: 600px) {
    .description {
      font-size: 1.8rem; } }

.big-text {
  font-size: 10.8rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  word-break: break-all;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (max-width: 600px) {
    .big-text {
      font-size: 7.2rem; } }

.italic {
  font-family: "riter_basic_italicitalic", courier, monospaced; }

.sample-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center; }

.thumbnail {
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .thumbnail img {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .thumbnail:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  .thumbnail:active {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1000px; }

iframe {
  display: block;
  width: 100%;
  height: 70%; }

.footer {
  border-top: 5px solid salmon;
  padding: 3rem;
  text-align: center; }

.writing-space {
  height: 80%;
  font-family: "riter_basic_regularregular", courier, monospaced;
  font-size: 1.8rem;
  line-height: 1.6;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  width: 100%;
  min-height: 60rem; }
