@import "base";
@import "mixins";
@import "variables";
@import "generic";
@import "grid";
@import "sizing";
@import "type";
@import "helpers";

// custom styles


.header {
  background: aquamarine;
  height: auto;
  position: fixed;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  top: 0;
}

.nav {
  display: block;
  text-align: center;
  li {
    display: inline-block;
    a {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

section {
  border-top: 5px solid whitesmoke;
  padding-top: 5rem;
  padding-bottom: 8rem;
}


.timeline {
  background-color: salmon;
}

.samples {
  background-color: dodgerblue;
}

.application {
  background-color: goldenrod;
  display: flex;
}


.footer {
  background: violet;
  border-top: 5px solid whitesmoke;
  padding: 3rem;
  text-align: center;
}



.writing-space {
  height: 80%;
  font-size: 1.6rem;
  line-height: 1.6;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding: 2%;
  width: 100%;
  min-height: 80rem;
}