@import "base";
@import "mixins";
@import "variables";
@import "generic";
@import "grid";
@import "sizing";
@import "type";
@import "helpers";

// custom styles
.striped-background {
  background: repeating-linear-gradient(
  -45deg,
  mistyrose,
  mistyrose 3px,
  mintcream 3px,
  mintcream 10px
);
}

//colors
$darkgrey: darken(slategrey, 20%);


.header {
  height: 100%;
  width: 100%;
  background: url('../img/typewriter-bg.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

h1 {
  color: orangered;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;

  @media screen and (max-width: 600px) {
    font-size: $five-line-nonpareil;
  }
}

.title-container {
  max-width: 500px;
  margin: 0 auto;
}

.title-typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 5px solid $darkgrey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0; /* Adjust as needed */
  line-height: 1;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: 
    typing 2s steps(20, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $darkgrey; }
}

.navigation {
  background: turquoise;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav {
  display: block;
  text-align: center;
  li {
    display: inline-block;
    a {
      color: $darkgrey;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 1rem;
      padding-bottom: .5rem;
      transition: all 300ms ease;

      &:hover {
        border-bottom: 5px solid $darkgrey;
        transition: translateY(.5rem);
      }
      &:active {
        transition: translateY(.5rem);
      }

      @media screen and (max-width: 600px) {
        font-size: 90%;
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }
}

section {
  border-top: 5px solid mintcream;
  border-left: 5px solid mintcream;
  border-right: 5px solid mintcream;
  padding-top: 5rem;
  padding-bottom: 8rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.description {
  font-family: $font-secondary;
  font-size: $double-pica;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 4rem;

  @media screen and (max-width: 600px) {
    font-size: $great-primer;
  }
}


// Characters
.characters {
  
}

.big-text {
  font-size: $imperial;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  word-break: break-all;
  transition: all 300ms ease;

  @media screen and (max-width: 600px) {
    font-size: $sabon;
  }
}

.italic {
  font-family: $font-secondary;
}

// Samples
.samples {
  
}

.sample-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.thumbnail {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 200ms ease;

  img {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
  }

  &:hover {
    transform: scale(1.05);
    transition: all 200ms ease;
  }

  &:active {
    transform: scale(1.02);
    transition: all 200ms ease;
  }
}


// text writing sample
.application {
  display: flex;
  min-height: 1000px;
}

iframe {
  display: block;
  width: 100%;
  height: 70%;
}

.footer {
  border-top: 5px solid salmon;
  padding: 3rem;
  text-align: center;
}

.writing-space {
  height: 80%;
  font-family: $font-main;
  font-size: 1.8rem;
  line-height: 1.6;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  width: 100%;
  min-height: 60rem;
}